.loading {
   position: absolute;
   top:40%;
   left: 30%;
}

.progress {
  font-size: 200%;
  color:white;
}

.points {
  position: absolute;
  top: 20px;
  left: 20px;
}

.points button {
  padding: 5px 10px;
  border-radius: 5%;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.UIBox {
  color: white;
  padding: 10px;
  border-radius: 5%;
  background: #00000077;
  border: 1px solid #ffffff77;
}

#camera-selection {
  color: white;
  position: absolute;
  top: 20px;
  left: 520px;
}

#camera-selection button {font-size: 200%;margin-right: 5px}

#camera-selection img {
  width: 30px
}

#wrapSpeed-ui {
  font-size: 200%;
  font-weight: bold;
  position: absolute;
  right: 4%;
  top: 100px;
  color: white;
}

#view-controls {
  position: absolute;
  top: 70px;
  left: 520px;
}

#view-controls button{
  padding: 5px 10px;
}

#game-controls {
  position: absolute;
  bottom: 10%;
  left: 20px;
}

#game-pause {
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 10px 20px;
}

#game-pause button{
  font-size: 400%;
}

/* break buttons */
#game-controls img {
  width: 40px
}

#game-controls button {
  display:none;
  border-radius: 10px;
  padding: 15px 15px 10px 15px;
}

/* Analog control */
#break-ui {
  position: absolute;
  width: 40%;
  height: 80px;
  background-color: gray;
  top: 200px;
  left: 30%;
  opacity: 0.3;
  z-index:10;
}

#break-ui div {
  position: absolute;
  z-index: 0;
  right: 50%;
  width: 2px;
  height: 80px;
  background-color: white;
}


#view-ui {
  position: absolute;
  width: 80%;
  height: 80px;
  background-color: gray;
  bottom: 110px;
  left: 10%;
  opacity: 0.3;
  z-index:10;
}

#view-ui div {
  position: absolute;
  z-index: 0;
  right: 50%;
  width: 2px;
  height: 80px;
  background-color: white;
}

.ui-help {
  position: absolute;
  font-size: 200%;
  text-align: center;
  color: white;
  left: 20%;
  top: 20px;
}

/* START GAME buttons */
#game-start  {
  position: absolute;
  top: 65%;
  left: 30%;
  z-index: 100;
  width: 60%;
}

#game-start button {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 200%;
}

#game-start-normal{
}

#game-start-strong{
  margin-left: 40px;
}

#title {
  position: absolute;
  top: 15%;
  left: 20%;
}

#title h2{
  font-size: 200%;
  color: white;
  background-color: gray;
  padding: 5px 15px;
  border-radius: 5px;
}

#instructions {
  position: absolute;
  top: 25%;
  left: 20%;
  font-size: 100%;
  width: 60%;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  background: #00000077;
  border: 1px solid #ffffff77;
}

#instructions h3 {
  margin: 0px 0px 20px 0px;
  text-decoration: underline;
  font-size: 150%;
}

#instructions div {
  margin-bottom: 5px;
}

#instructions span {
  font-weight: bold;
}

#vario-info {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  padding: 10px 10px;
}

#paraglider-position {
  position: absolute;
  top: 20px;
  left: 240px;
  width: 180px;
}

#weather-info {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  width: 160px;
}

#paraglider-info {
  position: absolute;
  top: 20px;
  left: 460px;
  padding: 0px 10px;
}

#paraglider-speedBar {
  font-size: 200%;
}

