.loading {
   position: fixed;
}
.points {
  position: absolute;
  top: 20px;
  left: 20px;
}

#game-start button{
  color: white;
  position: absolute;
  top: 40%;
  left: 45%;
  padding: 10px 20px;
  border-radius: 5%;
  background: #00000077;
  border: 1px solid #ffffff77;
  font-size: 300%;
}

#vario-info {
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0px 10px;
  border-radius: 5%;
  background: #00000077;
  border: 1px solid #ffffff77;
}


#paraglider-info {
  color: white;
  position: absolute;
  top: 20px;
  left: 140px;
  padding: 0px 10px;
  border-radius: 5%;
  background: #00000077;
  border: 1px solid #ffffff77;
}

.point .label {
  padding: 0px 10px;
  border-radius: 5%;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 32px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
}

.point .text {
  display: none;
}
