.loading {
   position: fixed;
}
.points {
  position: absolute;
  top: 20px;
  left: 20px;
}

.UIBox {
  color: white;
  padding: 10px;
  border-radius: 5%;
  background: #00000077;
  border: 1px solid #ffffff77;
}

#camera-selection {
  color: white;
  position: absolute;
  bottom: 1%;
  left: 20px;
}

#camera-selection button {font-size: 200%;margin-right: 5px}

#camera-selection img {
  width: 30px
}

#wrapSpeed-controls {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 160px;
}

#view-controls {
  position: absolute;
  bottom: 10%;
  right: 20px;
}

#view-controls button{
  font-size: 300%;
  padding: 5px 10px;
}

#game-controls {
  position: absolute;
  bottom: 10%;
  left: 20px;
}

#game-pause {
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 10px 20px;
}

#game-pause button{
  font-size: 400%;
}

#game-controls img {
  width: 40px
}

#game-controls button {
  border-radius: 10px;
  padding: 15px 15px 10px 15px;
}

#game-start button {
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 200%;
}

#game-start-normal{
  top: 40%;
  left: 30%;
}

#game-start-strong{
  top: 40%;
  left: 55%;
}

#instructions {
  position: absolute;
  top: 55%;
  left: 40%;
  font-size: 100%;
  width: 220px;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  background: #00000077;
  border: 1px solid #ffffff77;
}

#instructions div {
  margin-bottom: 5px;
}

#instructions span {
  font-weight: bold;
}

#vario-info {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  padding: 10px 10px;
}

#paraglider-position {
  position: absolute;
  top: 20px;
  left: 240px;
  width: 180px;
}

#weather-info {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  width: 160px;
}

#paraglider-info {
  position: absolute;
  top: 20px;
  left: 460px;
  padding: 0px 10px;
}

#paraglider-speedBar {
  font-size: 200%;
}

.point .label {
  padding: 0px 10px;
  border-radius: 5%;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 32px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
}

.point .text {
  display: none;
}
